.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    background: white;
    border-radius: 12px;
    height: 63px;
    margin-top: 2vh;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 13px;
    box-sizing: border-box;
}

.search-label{
    margin-left: 2%;
}

.error-message{
    color: red;
}

.search-input {
    flex: 1;
    padding-left: 12px;
    font-size: 22px;
    border: none;
    outline: none;
    /* height: 60%; */
    color: #363636;
    text-align: left;
    /* border-radius: 12px; */
}

.search-button {
    background-color: #046B3B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 95px;
}

.search-button:hover {
    background-color: darkgreen;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        max-width: 350px;
        height: 100px;
    }

    .search-input,
    .search-button {
        width: 100%;
    }
}
